@font-face {
    font-family: 'iransans';
    src: url('../fonts/iransans-bold.eot?#') format('eot'); /* IE9 Compat Modes */
    src: url('../fonts/iransans-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iransans-bold.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/iransans-bold.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/iransans.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
}

@font-face {
    src: url('../fonts/iransans-light.eot?#') format('eot'); /* IE9 Compat Modes */
    src: url('../fonts/iransans-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iransans-light.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/iransans-light.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/iransans.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: 400;
}

:lang(fa) {
    font-family: iransans !important;
}

:lang(en) {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif !important;
}
