{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n %}

{% load i18n_switcher %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/error_page.css' %}"/>

    <div class="full-screen" {% if LANGUAGE_CODE == 'fa' %}style="direction:rtl;"{% endif %}>
        <div class='container'>
            <span class="error-num">4</span>

            <div class='eye'></div>
            <span class="error-num">4</span>

            <p class="sub-text">{% trans "Oh eyeballs! Not found!." %}</p>

            <p class="sub-text">
                <a style="cursor: auto" href="javascript: void(0)">{% trans "Tel" %}:
                    {% if LANGUAGE_CODE == 'fa' %}
                        <span style="direction: ltr; display: inline-block;;">
                    {% endif %}
                    {{ ADMIN_TEL }}
                    {% if LANGUAGE_CODE == 'fa' %}
                        </span>
                    {% endif %}
                </a>
            </p>

            <p class="sub-text">
                <a style="cursor: auto" href="javascript: void(0)">{% trans "Email" %}: </a>
                <a href="mailto:{{ ADMIN_EMAIL }}"> {{ ADMIN_EMAIL }}</a>
            </p>
            <a href="javascript: goBack();">{% trans 'Go back' %}</a>
        </div>
    </div>
    <script type="text/javascript">
        $(".full-screen").mousemove(function (event) {
            var eye = $(".eye");
            var x = (eye.offset().left) + (eye.width() / 2);
            var y = (eye.offset().top) + (eye.height() / 2);
            var rad = Math.atan2(event.pageX - x, event.pageY - y);
            var rot = (rad * (180 / Math.PI) * -1) + 180;
            eye.css({
                '-webkit-transform': 'rotate(' + rot + 'deg)',
                '-moz-transform': 'rotate(' + rot + 'deg)',
                '-ms-transform': 'rotate(' + rot + 'deg)',
                'transform': 'rotate(' + rot + 'deg)'
            });
        });

        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}
